<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} – {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  {{ block "meta_tags" . }}{{end}}
  {{ define "meta_tags" }}
  <meta name="description" content="{{ .Params.description | default .Site.Params.homepage_meta_tags.meta_og_description }}" />
  <meta property="og:title" content="{{ .Title }} – {{ .Site.Title }}" />
  <meta property="og:type" content="{{ .Title }} – {{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Params.image }}" />
  <meta property="og:description" content="{{ .Params.description | default .Site.Params.homepage_meta_tags.meta_og_description }}" />
  <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
  <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
  {{ end }}
  <link rel="icon" type="image/png" href="{{ "/icons/main.png" | relURL }}">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {{ partial "schema" . }}
  <!-- CSS-->
  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) | postCSS (dict "config" "./postcss.config.js") | fingerprint }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}
  {{ block "header_css" . }}{{ end }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2YEM6FJ3MT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2YEM6FJ3MT');
  </script>

</head>


<body class='page {{ block "body_classes" . }}{{ end }}'>
  {{ partial "main-menu-mobile.html" . }}
  <div class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>
  {{ partial "footer.html" . }}
  {{ partial "sub-footer.html" . }}
  {{ $scripts := resources.Get "js/scripts.js" }}
  {{ $instantclick := resources.Get "js/libs/instantpage.js" }}
  {{ block "footer_js" . }}
  {{ end }}
  {{ $jsbundle := slice $instantclick $scripts | resources.Concat "js/bundle.js" }}
  <script type="text/javascript" src="{{ ($jsbundle | minify | fingerprint).RelPermalink }} " data-no-instant defer></script>
</body>

</html>